<div class="goal-section">
    <div class="section-header">
        <i class="fas fa-bullseye"></i>
        <h2>Mục tiêu bạn muốn</h2>
    </div>
    <div class="score-container">
        <div class="score-box">
            <div class="score-label">
                <i class="fas fa-chart-line"></i>
                Overall Score
            </div>
            <div class="score-value" id="overall-score">--</div>
        </div>
        <div class="score-box">
            <div class="score-label">
                <i class="fas fa-book-reader"></i>
                Reading
            </div>
            {{#if targetuser.TargetReading}}
            <div class="score-value" id="TargetReading">{{ targetuser.TargetReading }}</div>
            {{else}}
            <div class="score-value" id="TargetReading">--</div>
            {{/if}}
        </div>
        <div class="score-box">
            <div class="score-label">
                <i class="fas fa-headphones"></i>
                Listening
            </div>
            {{#if targetuser.TargetListening}}
            <div class="score-value" id="TargetListening">{{ targetuser.TargetListening}}</div>
            {{else}}
            <div class="score-value" id="TargetListening">--</div>
            {{/if}}
        </div>
        <div class="score-box">
            <div class="score-label">
                <i class="fas fa-pencil-alt"></i>
                Writing
            </div>
            {{#if targetuser.TargetWriting}}
            <div class="score-value" id="TargetWriting">{{ targetuser.TargetWriting }}</div>
            {{else}}
            <div class="score-value" id="TargetWriting">--</div>
            {{/if}}
        </div>
        <div class="score-box">
            <div class="score-label">
                <i class="fas fa-microphone-alt"></i>
                Speaking
            </div>
            {{#if targetuser.TargetSpeaking}}
            <div class="score-value" id="TargetSpeaking">{{ targetuser.TargetSpeaking }}</div>
            {{else}}
            <div class="score-value" id="TargetSpeaking">--</div>
            {{/if}}
        </div>
    </div>
</div>